extends layout

block content
  h1= title
    - let flowerbouquets=results
    div(class="container-fluid")
      div(class="row m-1")
      each flowerbouquet in flowerbouquets
        - let destination = `dispatch(\"/flowerbouquet/update/?id=${flowerbouquet._id}\")`
        div(class="row-sm-2", class="m-1") flowerbouquet #{flowerbouquet.flowername}(#{flowerbouquet.numberofflowers}) is #{flowerbouquet.deliverylocation}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
   function dispatch(path){
    window.location.href=path
   }
